<div class="row">
    <div class="offset-md-3 col-12 col-md-6">
        <div class="border-bottom d-flex justify-content-between align-items-center mb-4">
            <h1>Articles</h1>
            <%= link_to "Create new Article", article_new_path, class: "btn btn-primary" %>
        </div>
        

        <% @articles.each do |article| %>
            <h4>
                <a href="/articles/<%= article.id %>"><%= article.title %></a>               
            </h4>
            <p><%= article.content %></p>
            <br />
            <br />
            <p><%= link_to "More info", article_path(article.id) %></p>
            <hr />
        <% end %>
    </div>
</div>