<div class="row">
    <div class="offset-md-3 col-12 col-md-6">
        <h2>Create article</h2>

        <%= form_with model: @article, class: "card mb-4" do |form|%>
            <div class="card-body">
                <div class="mb-3">
                    <%= form.label :title, class: "form-label" %>
                    <%= form.text_field :title, class: "form-control" %>
                </div>

                <div class="mb-3">
                    <%= form.label :content, class: "form-label" %>
                    <%= form.text_area :content, size: "70x5", class: "form-control" %>
                </div>

                <div class="row mb-3 gap-2">
                    <div>
                        <%= form.submit "Create article", class: "btn btn-success w-100" %>
                    </div>
                </div>
            </div>

        <% end %>

        <p>
            <%= link_to "Back to home", root_path, class: "btn btn-secondary" %>
        </p>    
    </div>
</div>

