<div class="row">
    <div class="offset-md-3 col-12 col-md-6">
        <%= render "article", article: @article %>

        <p>
            <%= link_to "Back to home", root_path, class: "btn btn-secondary" %>
        </p>    

        <h3>Comments</h3>
        <% @article.comments.each do |comment| %>
            <p>
                <strong>Commenter:</strong>
                <%= comment.commenter %>
            </p>

            <p>
                <strong>Comment:</strong>
                <%= comment.body %>
            </p>
        <% end %>

        <h3>Add a comment</h3>
        <%= form_with model: [ @article, @article.comments.build ], class: "card" do |form| %>
            <div class="card-body">
                <div class="mb-3">
                    <%= form.label :commenter, class: "form-label" %>
                    <%= form.text_field :commenter, class: "form-control" %>
                    
                </div>

                <div class="mb-3">
                    <%= form.label :body, class: "form-label" %>
                    <%= form.text_area :body, size: "70x5", class: "form-control" %>
                    
                </div>

                <div class="row mb-3 gap-2">
                    <div>
                        <%= form.submit "Save comment", class: "btn btn-success w-100" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

